* {
  font-family: "Times New Roman", Times, serif;
}

.success {
  padding: 10px;
  color: green;
  background: rgb(224, 223, 223);
  font-size: 20px;
  border: solid 2px rgb(2, 155, 2);
  border-radius: 5px;
}
.error {
  padding: 10px;
  color: red;
  background: rgb(224, 223, 223);
  font-size: 20px;
  border: solid 2px red;
  border-radius: 5px;
}
